@import "style.css"



nav ul li {

  margin-left: 0px;
}


@media (max-width: 600px) {

  .container {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;

  }

.post {

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;

}

.images {


  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

}
